* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-page {
  width: 100%;
  padding: 20px;
  margin: 100px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.box {
  width: 500px;
  margin: 0 10px;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
  transition: 1s;
}
.box img {
  display: block;
  width: 100%;
  border-radius: 5px;
}
.box:hover {
  transform: scale(1.3);
  z-index: 3;
}
.full-page {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
      rgba(151, 150, 150, 0.4),
      rgba(151, 150, 150, 0.4)
    ),
    url(back.png);
  background-position: center;
  background-size: cover;
  position: absolute;
  background-attachment: fixed;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
  padding-left: 50px;
  padding-right: 30px;
  padding-top: 50px;
}
nav {
  flex: 1;
  text-align: right;
}
nav ul {
  display: inline-block;
  list-style: none;
}
nav ul li {
  display: inline-block;
  margin-right: 70px;
}
nav ul li a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  font-family: sans-serif;
}
nav ul li button {
  font-size: 20px;
  color: white;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
  font-family: sans-serif;
}
nav ul li button:hover {
  color: #e775d4;
}
nav ul li a:hover {
  color: #e775d4;
}
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: bolder;
}
#login-form {
  display: none;
}
.form-box {
  width: 380px;
  bottom: 20px;
  height: 480px;
  position: relative;
  margin: 2% auto;
  background: rgba(255, 255, 255, 0.86);
  padding: 10px;
  overflow: hidden;
}
.button-box {
  width: 220px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0 0 20px 9px #e775d4c0;
  border-radius: 30px;
}
.toggle-btn {
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}
#btn {
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: #e775d4;
  border-radius: 30px;
  transition: 0.5s;
}
.input-group-login {
  top: 150px;
  position: absolute;
  width: 280px;
  transition: 0.5s;
}
.input-group-register {
  top: 120px;
  position: absolute;
  width: 280px;
  transition: 0.5s;
}
.input-field {
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
}
.submit-btn {
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: #e775d4;
  border: 0;
  outline: none;
  border-radius: 30px;
}
.check-box {
  margin: 30px 10px 34px 0;
}
span {
  color: #777;
  font-size: 12px;
  bottom: 68px;
  position: absolute;
}
#login {
  left: 50px;
}
#login input {
  color: white;
  font-size: 15;
}
#register {
  left: 450px;
}
#register input {
  color: white;
  font-size: 15;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  height: 10%;
  width: 100vw;
  font-family: "Open Sans";
  padding-top: 50px;
  color: #00000089;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li {
  margin: 0 10px;
}
.socials a {
  text-decoration: none;
  color: #fff;
}
.socials a i {
  font-size: 1.1rem;
  transition: color 0.4s ease;
}
.socials a:hover i {
  color: aqua;
}

.footer-bottom {
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.J a{
  color: #ca3cb2;

}
